<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録フォーム</title>
</head>
<body>
	<h3>商品登録</h3>
	 <form th:action="@{/process}" th:object="${member}" method="post">
		<input type="hidden" th:field="*{id}">

		<label for="name">名前:</label>
		<input type="text" th:field="*{name}">

		<label for="price">値段:</label>
		<input type="number" th:field="*{price}">

		<button>登録</button>

		<!-- <br> <small style="color: red" th:errors="*{content}"></small> -->
	</form>

	<a th:href="@{/}">戻る</a>
</body>
</html>